body{
    font-family: 'Poppins', sans-serif;

}
.h1-header{
    font-size: 65px;
    font-weight: 700;
}
.paragraph{
    font-size: 14px;
}
.card-bodybg{
    background-color: #F4FAFD
    ;
}
.myimage img{
     filter: brightness(40%);
}
